<HTML>
	<HEAD>
		<TITLE>
			URF - Have fun naming people!
		</TITLE>
		<link rel="stylesheet" type="text/css" href="index.css">
	</HEAD>
	<BODY>
		<center>
		<h1>
			URF - The nicking app!
		</h1>
		
		<form method = "get">
			<table border = "0">
			<tr>
				<td>
					<label>Username / User-email: </label>
				</td>
				<td>
					<input type = "text" name = "user_id">
				</td>
			</tr>
			<tr>
				<td>
					<label>Password: </label>
				</td>
				<td>			
					<input type = "password" name = "password">
				</td>
			</tr>
			<tr>
				<td colspan = "2" align = "right">	
				<input type = "submit" align = "right">
				</td>
			</tr>
		</form>
		</center>
	</BODY>
</HTML>
